body {
    background-color: black;
    font-family: Verdana, sans-serif;
    font-size: 16px;
    text-align: center;
    color: white;
}

.flex-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

 a {
    color: aquamarine;
}

h2 {
    font-weight: 300;
    font-size: 2.625rem;
}

h3 {
    font-size: 1.3125rem;
    color: gray;
}

/* Header Section */

h1 {
    font-weight: normal;
    font-size: 3.125rem;
}

/* Main Content Section */

